__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store

.vscode/

reports/
rtdetr_pose/reports/
/data/

# Training / build artifacts
runs/
build/
dist/
*.egg-info/

# virtualenvs
.venv/
.venv-runpod/
.venv-runpods/
