include README.md
include CHANGELOG.md
include LICENSE
include NOTICE
include COPYRIGHT
include SECURITY.md
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include CITATION.cff

recursive-include yolozu/data *.json *.yaml *.yml
recursive-include docs *.md *.json
recursive-include schemas *.json
recursive-include protocols *.json
recursive-include rtdetr_pose/rtdetr_pose/configs *.json
recursive-include rtdetr_pose/configs *.json
recursive-include rtdetr_pose/tools *.py
